.paper {
  height: calc(100vh - 100px);
}

:global([data-mantine-color-scheme='dark']) .paper {
  --mrt-base-background-color: color-mix(
    in srgb,
    var(--mantine-primary-color-5) 20%,
    var(--mantine-color-dark-8)
  );
}
:global([data-mantine-color-scheme='light']) .paper {
  --mrt-base-background-color: color-mix(
    in srgb,
    var(--mantine-primary-color-5) 40%,
    var(--mantine-color-white)
  );
}
